@model IEnumerable<Smart_Scale.Models.Pomiar>
@using System.Data

@{
    ViewBag.Title = "Wykres pomiarów";
}
<h3>@ViewBag.Message</h3>

<p>
    <img src=@ViewBag.Wykres />
</p>
<p>
    <img src=@ViewBag.Wykres2 />
</p>
<div>
    @Html.ActionLink("Powrót do listy użytkowników", "Users")
</div>
